import React, { FC } from 'react';
import { graphql } from 'gatsby';

import { Layout } from 'layout';
import PageSchema from 'common/PageSchema';
import Seo from 'common/Seo';

const {{properCase name}}: FC<{{properCase name}}Types.{{properCase name}}BaseType> = ({ data: {
    {{camelCase name}}: {
      { urls, seo }
    }
  } }) => {
  const { title, keywords, description } = seo;

  return (
    <Layout>
      <Seo {...{ urls, seo } } />
      <PageSchema
        type="WebPage"
        name={title}
        data={ {
          metaTitle: title,
          metaDescription: description,
          metaKeywords: keywords,
        } }
      />

      <h1>{title}</h1>
    </Layout>
  );
};

export const query = graphql`
  {}
`;

export default {{properCase name}};